{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

    <h1>Produits:</h1>

    {% if products %}
        {% for product in products %}
            {{product.name}} <a href="{{path('app_product_show', {id: product.id})}}">Afficher</a> <a href="{{path('app_product_edit', {id: product.id})}}">Modifier</a><br>
        {% endfor %}
    {% endif %}
   

    <a href="{{path('app_product_new')}}">Ajouter un produit</a>
{% endblock %}
