{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
<table>
    <thead>
        <tr>
            <th>Utilisateur</th>
            <th>Banni</th>
            <th>Commandes</th>
            <th>Profil</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{path('app_manage_user', {id: user.id})}}">{{user.username}}</a></td>
                <td>{% if user.isBanned == true %} Oui {% else %} Non {% endif %}</td>
                <td><a href="">Afficher</a></td>
                <td><a href="">Modifier</a><a href="">Supprimer</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
